[flake8]
ignore = E501, W503, E203, E402
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    docs,
    migrations,
    static,
    backups,
    uploads,
    temp_relatorios,
    temp_pdfs,
    node_modules
max-line-length = 120
